.item {
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    border: 25px solid black;
    padding: 25px;
    background-color: #333;
    margin: 25px;
    border-width: 10px;
    border-radius: 10px;
}

.wrapper {

}