#contain{
  width:100%;

}

.round-photo-icons{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto 30px;
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  } 