{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Website for Nummade-Kochi"> 
    <meta name="description" content="Nummade-Kochi is a platform created to help the 
                                    needy by providing support through donating daily usables and resources">
    <link href="{% static 'nummadekochi/css/base.css' %}" rel="stylesheet">
    {% block title %}
    {% endblock %}

    {% block head %}
    {% endblock %}'
    
</head>

<body>

    {% block body %}
    {% endblock %}

</body>
</html>