body  {
  background:rgba(255,255,100,0.5);
  margin:0px 0px 0px 0px;
}

 #container  {
}

 #header  {
  width:100%;
  height:350px;
  margin-bottom:75px;
}

 #ribbon  {
  width:100%;
  height:55px;
  position:absolute;
  bottom:0px;
  background:#000;
  border-bottom:solid 5px rgba(100,200,255,1);
}

#num_logo  {
  min-width:300px;
  max-width:350px;
  height:100%;
  top:60px;
  position:absolute;
  left:5%;
  background-color:#fff;
  border-radius:176px;
}

#logo_img  {
  border-radius:176px;
  width:100%;
  display:inline-block;
  vertical-align:middle;
  border-bottom:solid 5px rgba(100,200,255,1);
  bottom:0px;
}