{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Nummade Kochi | Donate</title>
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/donate.css' %}" />
{% endblock head %}

{% block body %}
    <br>
    {% for item in items %}
        <div class="item">
            <h2 class="text-primary">{{ item.name }}</h2>
            <p>{{ item.added_time }}</p>
            <img src="media/{{ item.item_image }}">
            <br>
            <p>{{ item.description }}</p>
            <br>
        </div>
    {% endfor %}
{% endblock body %}