{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
{% block title %}
<title>Nummade Kochi | Donate</title>
{% endblock title %}
<link rel="stylesheet" href="{% static 'css/donate.css' %}" />
{% endblock head %}

{% block body %}
    <br>
    {% for item in items %}
        <div class="item">
            <h2 align="center" style="color:rgba(100,200,255,1);">{{ item.name }}</h2>
            <p align="left" style="padding: 5px; color:#ddd">{{ item.added_time }}</p>
            <img style="height:100%; width:100%; display: block; margin: 0 auto; border-radius: 10px;" src="media/{{ item.item_image }}">
            <br>
            <h4 style="color: #ddd">{{ item.description }}</p>
            <br>
        </div>
    {% endfor %}
{% endblock body %}