{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Nummade Kochi | Home</title>
{% endblock title %}

{% block head %}
<link rel="stylsheet" href="{% static 'css/main.css' %}" />
{% endblock head %}

{% block body %}
<div id="contain" >
  <div id="brief" >
    <div style="position:relative; display:block;">
      We are on a mission to change lives in poor communities around the world through simple practical interventions. We focus on 2 core areas: the family and youth education
    </div>
    <div id="lefted" >
      <img src="{% static 'img/lefted.png' %}" style="width:75px; border-radius:50%; border:1px #ccffff;" />
    </div>
    <div id="righted" >
      <img src="{% static 'img/lefted.png' %}" style="width:75px; border-radius:50%; border:1px #ccffff;" />
    </div>
  </div>
</div>
{% endblock body %}