{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Website for Nummade-Kochi">
    <meta name="description" content="Nummade-Kochi is a platform created to help the
                                    needy by providing support through donating daily usables and resources">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1" >
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/javascript" href="{% static 'js/jquery.min.css' %}">
    <link type="text/javascript" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/zerogrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsiveslides.css' %}">
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'js/jquery-latest.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
      <script src="{% static 'js/jquery183.min.js' %}"></script>
      <script src="{% static 'js/responsiveslides.min.js' %}"></script>
      <script>
      // You can also use "$(window).load(function() {"
      $(function () {
        // Slideshow
        $("#slider").responsiveSlides({
        auto: true,
        pager: false,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
        });
      });
    </script>


    <!--[if lt IE 8]>
         <div style=' clear: both; text-align:center; position: relative;'>
           <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
             <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
          </a>
        </div>
      <![endif]-->
      <!--[if lt IE 9]>
      <script src="{% static 'js/html5.js' %}"></script>
      <script src="{% static 'js/css3-mediaqueries.js' %}"></script>
    <![endif]-->

    {% block title %}
    {% endblock %}

    {% block head %}
    {% endblock %}

</head>

<body>
  <div class="wrap-body">

<!-- /////////////////////////////////////////Top -->
    <div class="top">
    <div class="zerogrid">
      <div class="row">
        <div class="f-left">
          <span><i class="fa fa-map-marker"></i> Karimakkad, Thrikkakara, Edappally, Kochi  </span>
          <span><i class="fa fa-phone"></i> 1-800-123-1234; 1-800-123-5678</span>
          <span><i class="fa fa-envelope"></i> example.com</span>
        </div>
        <div class="f-right">
          <span>An initiative by <b>THANAL</b>, Model Engineering College</span>
        </div>
      </div>
    </div>
    </div>

    <!--////////////////////////////////////Header-->
    <header>
      <div class="wrap-header zerogrid">
        <div class="row">
          <div id="cssmenu">
            <ul>
               <li class='active'><a href="{% url 'main' %}">Home</a></li>
               <li class='active'><a href="{% url 'donate' %}">Donate</a></li>
               <li><a href="{% url 'story' %}">Stories</a></li>
               <li><a href="{% url 'about_us' %}">About Us</a></li>
               <li><a href="{% url 'contact_us' %}">Contact</a></li>
            </ul>
          </div>
          <a href="{% url 'main' %}" class="logo"><img src="{% static 'images/logo.png' %}" style="max-width:auto; max-height:90px;" /></a>
        </div>
      </div>
    </header>
    <div class="bg-white">
    	<div class="zerogrid">
    		<!-- Slideshow -->
    		<div class="callbacks_container">
    			<ul class="rslides callbacks callbacks1" id="slider">
    				<li id="callbacks1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out;">
    					<img src="{% static 'images/headbg.png' %}" alt="">
    					<div class="caption">
    						<h1>Title 1</h1>
    						<span>subtitle 1</span>
    					</div>
    				</li>
    				<li id="callbacks1_s1" class="callbacks1_on" style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; transition: opacity 500ms ease-in-out;">
    					<img src="{% static 'images/headbg.png' %}" alt="">
    					<div class="caption">
    						<h1>Title 2</h1>
    						<span>subtitle 2</span>
    					</div>
    				</li>
    				<li id="callbacks1_s2" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
    					<img src="{% static 'images/headbg.png' %}" alt="">
    					<div class="caption">
    						<h1>title 3</h1>
    						<span>subtitle 3</span>
    					</div>
    				</li>
    			</ul><a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a><a href="#" class="callbacks_nav callbacks1_nav next">Next</a>
    		</div>
    		<div class="clear"></div>
    	</div>
    </div>
  </div>
    {% block body %}
    {% endblock %}
    <div class="wrap-body">
      <footer>
      	<div class="zerogrid top-footer">
      		<div class="row">
      			<div class="col-1-5">
      				<a href="#"><img src="{% static 'images/headbg.png' %}" /></a>
      			</div>
      			<div class="col-1-5">
      				<a href="#"><img src="{% static 'images/headbg.png' %}" /></a>
      			</div>
      			<div class="col-1-5">
      				<a href="#"><img src="{% static 'images/headbg.png' %}" /></a>
      			</div>
      			<div class="col-1-5">
      				<a href="#"><img src="{% static 'images/headbg.png' %}" /></a>
      			</div>
      			<div class="col-1-5">
      				<a href="#"><img src="{% static 'images/headbg.png' %}" /></a>
      			</div>
      		</div>
      	</div>
      	<div class="zerogrid wrap-footer">
      		<div class="row">
      			<div class="col-1-2 col-footer-2">
      				<div class="wrap-col">
      					<h3>About Us</h3>
      					<p>Nummade Kochi is an charitable organisation started by the students and the passouts of MEC. This is a site to serve the needy by letting the kind hearted people donate items to the managers of the site, who in turn will supply it to the needy.</p>
      					<a href="{% url 'main' %}" class="logo"><img src="{% static 'images/nkochi-100x100.png' %}" /></a>
      				</div>
      			</div>
      			<div class="col-1-3 col-footer-4">
      				<div class="wrap-col">
      					<h3>Contact</h3>
      					<span><i class="fa fa-envelope"></i> example@sports-club.com</span>
      					<span><i class="fa fa-phone"></i> 1-800-123-1234; 1-800-123-5678</span>
      					<span><i class="fa fa-map-marker"></i> Karimakkad, Thrikkakara, Edappally, Kochi </span>
      				</div>
      			</div>
      		</div>
      	</div>
      </footer>
      <div class="copyright">
      	<div class="zerogrid wrapper">
      		Copyright @ zSoccer - <a href="https://www.zerotheme.com" title="free html5 templates">Html5 Templates</a> by Zerotheme
      		<ul class="quick-link f-right">
      			<li><a href="#">Privacy Policy</a></li>
      			<li><a href="#">Terms of Use</a></li>
      		</ul>
      	</div>
      </div>
    </div>

</body>
</html>
